:root {
  /* --bg:white; */
  --bg:black;
  --textColor:rgba(255,255,255,0.5);
  --hoverColor:rgba(255,255,255,0.2);
  --invert:1;
  --titlePageMainLogoSize:300px;
  --clipSize:5px;
}
html,body {
  background:var(--bg);
  color:var(--textColor);
  margin:0;
  padding:0;
  width:100vw;
  height:100vh;
  transition:0.2s linear;
}
main {
  background:transparent;
  margin:0;
  padding:0;
  width:100vw;
  height:100vh;
  overflow-x:hidden;
}
*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
* {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
button {
  background:transparent;border:none;outline:none;cursor:pointer;
  text-align:center;
}
.clip {
  -webkit-clip-path: polygon(var(--clipSize) 0%, calc(100% - var(--clipSize)) 0%, 100% var(--clipSize), 100% calc(100% - var(--clipSize)), calc(100% - var(--clipSize)) 100%, var(--clipSize) 100%, 0% calc(100% - var(--clipSize)), 0% var(--clipSize));
  clip-path: polygon(var(--clipSize) 0%, calc(100% - var(--clipSize)) 0%, 100% var(--clipSize), 100% calc(100% - var(--clipSize)), calc(100% - var(--clipSize)) 100%, var(--clipSize) 100%, 0% calc(100% - var(--clipSize)), 0% var(--clipSize));
}
.toggleDarkMode {
  position:absolute;
  display:block;
  right:0;
  top:0;
  margin:10px;
  width:40px;
  height:40px;
  font-size:20px;
  text-align:center;
  line-height:40px;
  color:var(--textColor);
  transition:0.2s linear;
}
.toggleDarkMode:hover {
  background:var(--hoverColor);
}
.titlePageMainLogo {
  background:url(/DevEvoTransparent.png) no-repeat center center;
  background-size:cover;
  display:block;
  width:var(--titlePageMainLogoSize);
  height:var(--titlePageMainLogoSize);
  margin:auto;
  position:absolute;
  top:25%;
  left:50%;
  transform:translateX(-50%);
  filter:invert(var(--invert));
}
.backRow {
  position:fixed;
  top:0;
  left:0;
}